{
  "CN": "Kubernetes",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "RB",
      "L": "Minsk",
      "O": "Kubernetes",
      "OU": "Minsk",
      "ST": "Minsk"
    }
  ]
}
