{
  "CN": "kubernetes",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "RB",
      "L": "Minsk",
      "O": "Kubernetes",
      "OU": "Kubernetes The Hard Way",
      "ST": "Minsk"
    }
  ],
  "hosts": [
    "10.32.0.1",
    "10.240.0.10",
    "10.240.0.11",
    "10.240.0.12",
    "127.0.0.1",
    "{{ k8s_public_address|join('') }}",
    "{{ kube_hostnames }}"
  ]
}
