{
  "CN": "system:node:{{ worker_nodes[0] }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "RB",
      "L": "Minsk",
      "O": "system:nodes",
      "OU": "Kubernetes The Hard Way",
      "ST": "Minsk"
    }
  ],

  "hosts": [
    "{{ gcp_instance_facts|json_query('resources[3:6].networkInterfaces[].networkIP')|join('",\n    "') }}",
    "{{gcp_instance_facts|json_query('resources[3:6].networkInterfaces[].accessConfigs[].natIP')|join('",\n    "') }}",
    "{{ gcp_instance_facts|json_query('resources[3:6].name')|join('",\n    "') }}"
  ]

}
