{
  "CN": "system:node:{{ worker_nodes[1] }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "RB",
      "L": "Minsk",
      "O": "system:nodes",
      "OU": "Kubernetes The Hard Way",
      "ST": "Minsk"
    }
  ]
}
